* { margin:0; padding:0; word-break:break-all; }
body { background:#FFF; color:#333; font:12px/1.6em Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size:1em; }
a { color:#039; text-decoration:none; }
a:hover { text-decoration:underline; }
ul, li { list-style:none; }
fieldset, img { border:none; }
em, strong, cite, th { font-style:normal; font-weight:normal; }

#banner { position:relative; width:1920px; height:480px; overflow:hidden;}
#banner_list { position:absolute; width:7680px; height:480px; }
#banner_list li { float:left; }
#banner_list li img { width:1920px; height:480px; }
/* .banner_opacity { position:absolute; width:1200px; height:70px; top:452px; left:0; background:#000; filter:alpha(opacity=50); -moz-opacity:0.5; opacity: 0.5; }
 */#banner_btn { position:absolute; width:1920px; height:65px; top:400px; left:670px; }
#banner_btn li { display:inline; float:left; margin:0 12px;background-color:rgba(250,250,250,0.5);
				height:16px;width:16px; border-radius:50px;}
#banner_btn .current img { border-color:#EEE; }